[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "~=2.7.0"
pytest = "*"
requests-mock = "~=1.9.3"

[packages]
requests = "*"

[requires]
python_version = "3.7"
